{% extends "events/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
<title>Event Management - Create New Event</title>
{% endblock title %}


{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Create New Event</h5>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'create_event'%}"" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </form>
            </div>
        </div>

        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message}}
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}