{% extends "events/base.html" %}

{% block title %}
    <title>Event Management -  View Event</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="card mb-3">
        <div class="card overflow-hidden hover-img">
            <div class="position-relative">
                <a href="javascript:void(0)">
                    <img src="{{ event.cover_image.url }}" class="card-img-top" width="500" height="500">
                </a>
                <img src="{{ event.cover_image.url }}" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="200" height="200" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
            </div>
            <div class="card-body p-4">
                <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center fs-2 ms-auto">
                        <i class="ti ti-point text-dark"></i>{{ event.date}}
                    </div>
                </div>
                <h1>{{ event.title }}</h1>            
            </div>
        </div>
    </div>
</div>

{% endblock content %}