{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
<title>Event Management - Dashboard</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    {% for event in events %}
      <div class="col-lg-4">
        <div class="card overflow-hidden hover-img">
          <div class="position-relative">
            <a href="javascript:void(0)">
              <img src="{{ event.cover_image.url }}" class="card-img-top" alt="matdash-img">
            </a>
            <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min read</span>
            <img src="{{ event.cover_image.url }}" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
          </div>
          <div class="card-body p-4">
            <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm  mt-3">Social</span>
            <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="">{{ event.title }}</a>
            <div class="d-flex align-items-center gap-4">
              <div class="d-flex align-items-center gap-2">
                <i class="ti ti-eye text-dark fs-5"></i>9,125
              </div>
              <div class="d-flex align-items-center gap-2">
                <i class="ti ti-message-2 text-dark fs-5"></i>3
              </div>
              <div class="d-flex align-items-center fs-2 ms-auto">
                <i class="ti ti-point text-dark"></i>{{ event.date}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}